@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.bt-create {
    width: 80%;
    display: flex;

    padding: 5px;
    margin-left: auto;
    border-radius: 50px;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.div-busca{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.div-busca input{
    color: white;
}

.bt-create button {
    width: 20%;
    padding: 10px;
    background-color: #1A1D24;
    border-radius: 50px;

    border: none;
    transition: ease-in-out 0.5s;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.bt-create h1 {
    font-size: 2em;
    color: white;
    margin: 0%;
    font-family: 'Secular One', sans-serif;
    font-weight: 500;

}


.bt-create button:hover {
    background-color: white;
    color: black;
   
    cursor: pointer;
   
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}




table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;

}

::ng-deep .mat-mdc-paginator-container {
    background-color: #1A1D24;

}