.bt-create {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: column;

}

.bt-create button {
    width: 20%;
    padding: 15px;
    background-color: chocolate;
    border-radius: 10px;
   
    border: none;
    transition: ease-in-out 0.5s;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.bt-create h1 {
    font-size: 3em;
    color: white;
    font-weight: bold;

}

.bt-create button:hover {
    background-color: chocolate;
    color: black;
    box-shadow: 0px 0px 10px chocolate;
    cursor: pointer;
    border-color: chocolate;
    color: white;
}

div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}



::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    color: chocolate;
}

::ng-deep .mat-mdc-text-field-wrapper {
    box-sizing: content-box;
    box-sizing: none
}


::ng-deep .mat-mdc-select-arrow svg {
    color: chocolate;

}


#edit {
    color: white;
}

table {
background-color: rgba(0, 0, 0, 0.103);
}
i{
    background-color: rgb(40, 180, 59);
    padding: 2px;
    border-radius: 50%;

}