<section class="container-destinos">
    <h3>CRIAR DESTINO</h3>
    <section class="container-divs">
        <div>
            <section class="add-material-div">
                <label for="">Material</label>
                <button (click)="criarMaterial()" matTooltip="adicionar um novo material na lista">adicionar
                    material</button>
            </section>
            <select name="materialID" id="" [(ngModel)]="interfaceMateriais.materialId">
                <option *ngFor="let mat of materiais" value="{{mat.id}}">{{mat.nome}}</option>
            </select>
        </div>
        <div>
            <label for="">QTD</label>
            <input type="number" name="quantidade" [(ngModel)]="interfaceMateriais.quantidade">

        </div>
        <div>
            <label for="">Setor Destinatario</label>
            <select name="setorDestino" id="" [(ngModel)]="interfaceMateriais.setorDestino">
                <option *ngFor="let setor of setores" value="{{setor.id}}">{{setor.nome}}</option>
            </select>
        </div>
        <div class="btn-adicionar-material-div">
            <button matTooltip="adicionar material no destino" (click)="addMaterial()">+</button>
        </div>
    </section>
    <div class="table-limit">

        <table class="table table-limit">
            <tr>
                <th>Material</th>
                <th>QTD</th>
                <th>Destino</th>
                <th class="table-bt-remover"></th>
            </tr>
            <tr class="listagem-materiais" *ngFor="let s of materiaisDestino; let i = index">
                <td>{{s.materialId}}</td>
                <td>{{s.quantidade}}</td>
                <td>{{s.setorDestino}}</td>
                <td><button class="bt-removerMaterial-lista" (click)="removerMaterial(i)"><i id="edit"
                            class="material-icons" matTooltip="Remover material da lista">delete</i></button></td>

            </tr>
            <!-- Conteúdo da tabela -->
        </table>
 
    </div>
    <section class="container-divs">
        <div>
            <label for="">Destinatario</label>
            <select name="destinatario" id="" [(ngModel)]="destino.sedeId">
                <option *ngFor="let sede of sedes" value="{{sede.id}}">{{sede.nome}}</option>
            </select>
        </div>
    </section>
    <button class="bt-atualizar" (click)="atualizarDestino()" >ATUALIZAR</button>
</section>