table {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    color: black;
    border-radius: 5px;
}

.table-limit {
    width: 80%;
    max-height: 200px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione rolagem vertical quando necessário */
}

.table-bt-remover {
    width: 5%;

}

table th {
    background-color: chocolate;

}

table td {
    background-color: rgba(255, 255, 255, 0.945);
}

.container-destinos section div label {
    color: black;
}

.container-destinos h1 {
    color: black;
    
    margin: 1em;
}

.container-destinos section div select {
    color: black;
    background-color: rgba(0, 0, 0, 0.096);
}

.container-destinos section div option {
    color: black;
}

.container-destinos section div input {
    color: black;
    background-color: rgba(0, 0, 0, 0.096);
}

.container-divs div {

    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-divs{
    width: 80%;
}
.container-divs .btn-adicionar-material-div {
    width: 120px;

}

.container-destinos {
    width: 100%;
    margin: 0px;
    padding: 0%;

    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #f3f3f3;
}



.container-divs label {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.btn-adicionar-material-div button {
    padding: 5px;

    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: chocolate;
    border: none;
}

.bt-removerMaterial-lista {
    background-color: transparent;
    border: none;
    color: red;
}
.erroMaterial {
    width: 99%;
    text-align: center;
    color: red;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.13);
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bt-atualizar{
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: chocolate;


}
.add-material-div button{
    background-color: black;
    border-radius: 5px;
    color: white;
    margin-left: 1em;
    border: none;
    padding: 2px;
}