<form action="">
        <section>
    <div class="box-input">
        <label for="">Nome</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Rua</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Número</label>
        <input type="number" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">CEP</label>
        <input type="number" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Cidade</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">UF</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Observações</label>
       <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</section>
    <button>CADASTRAR</button>
</form>