form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   background-color: rgb(230, 230, 230);
    padding: 100px 0px 100px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    border-top: 2em solid rgb(26, 27, 32);
}

.container-inputs {
    display: flex;
    width: 90%;
    margin-top: 2em;

}

.container-inputs label {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.container-inputs input::placeholder,
textarea::placeholder {
    color: rgb(141, 141, 141);
}

.container-inputs div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px;

}
.container-inputs .box-input-numero{
    width: 10%;
}
.container-inputs .box-input-uf{
    width: 20%;
}
.buttons {
    display: flex;
    width: 90%;
    margin-top: 5em;
    align-items: center;
}

.buttons button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 8px;
box-shadow: 2px 2px 5px rgb(88, 88, 88);
    border-radius: 50px;
    width: 30%;
    transition: ease-in-out 0.6s;
    border: none;
    font-weight: bold;
    background-color: chocolate;
    color: black;
}

.buttons .bt-cadastrar:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px white;

}

.buttons .bt-cancelar:hover {
    cursor: pointer;
    background-color: white;
    color: red;
    box-shadow: 0px 0px 20px white;
}

header {
    display: flex;
    color: white;
    
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    

}

header button {
    height: 25px;
    margin-top: 5px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: chocolate;
    border: none;
}
header button:hover{
    background-color: white;
    
    color: black;
}

header button i {
    color: white;
    
}


header h1 {
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 10px;
}

@media (width<1300px) {
    .container-inputs {
        display: block;

    }
    .container-inputs .box-input-numero,.container-inputs .box-input-uf{
        width: 100%;
    }
    .buttons {
        flex-direction: column;

    }

    .buttons button {
        width: 80%;
    }

}

.error {
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    font-weight: bold;
}

.error i {
    margin-right: 10px;
}

textarea {
    resize: none;
    height: 55px;
}
option{
    background-color:rgb(255, 255, 255);
   
}