.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}


.bt-create {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: column;

}

.bt-create button {
    width: 20%;
    padding: 12px;

    background-color: chocolate;
    border-radius: 50px;

    border: 2px solid chocolate;
    transition: ease-in-out 0.5s;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.bt-create h1 {

    font-size: 2.5em;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.bt-create button:hover {
    background-color: chocolate;
    color: black;
    box-shadow: 0px 0px 10px chocolate;
    cursor: pointer;
    border-color: chocolate;
    color: white;
}




table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;
}
::ng-deep .mat-mdc-paginator-container {
    background-color: #1A1D24;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

mat-paginator {
    background-color: transparent;
}
