@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.div-busca{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}
.div-busca input{
    color: white;
}

.bt-create {
    width: 80%;

    padding: 5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.bt-create button {
    width: 20%;
    padding: 10px;

    background-color: #1A1D24;
    border-radius: 50px;
    border: none;

    transition: ease-in-out 0.5s;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.bt-create h1 {
    margin: 0%;
    font-size: 2em;
    color: rgb(231, 231, 231);
    font-family: 'Secular One', sans-serif;


}



.bt-create button:hover {

    color: black;

    cursor: pointer;

    background-color: white;
}




table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;
}

::ng-deep .mat-mdc-paginator-container {
    background-color: #1A1D24;

}
@media (width<1000px) {
    .bt-create button{
        width: 200px;
        font-size: 1em;
    }
    
}
.table-limit {
    max-width: 100%;
    /* Defina a altura máxima desejada */
    overflow-x: auto;
    /* Adicione rolagem vertical quando necessário */
}
.acoes{
    display: flex;
    
}