.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
::ng-deep .mat-mdc-paginator-container {
    background-color: rgb(37, 37, 37);
}
.bt-create {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: column;

}

.bt-create button {
    width: 20%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    color: rgb(248, 248, 248);
    border: 2px solid white;
    transition: ease-in-out 0.5s;
    font-weight: bold;
    color: black;
}

.bt-create h1 {
    font-size: 2rem;
    color: chocolate;
    
}

.bt-create button:hover {
    background-color: chocolate;
    color: black;
    box-shadow: 0px 0px 10px chocolate;
    cursor: pointer;
    border-color: chocolate;
    color: white;
}