.conatiner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.bt-create {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: column;

}


.bt-create button {
    width: 20%;
    padding: 15px;
    background-color: chocolate;
    border-radius: 50px;
    color: rgb(248, 248, 248);
    border: none;
    transition: ease-in-out 0.5s;
    font-size: 1.2em;
   
    font-weight: bold;
}

.bt-create h1 {

    font-size: 2.5em;
    color: black;
    font-weight: bold;

}

.bt-create button:hover {
    background-color: chocolate;
    color: white;
    box-shadow: 0px 0px 10px chocolate;
    cursor: pointer;


}

.subscrib i {
    background-color: transparent;
    padding: 2px;
    border-radius: 50%;
    color: rgb(73, 230, 125);
    margin-left: 20px;
    font-size: 2em;
}

.subscrib i:hover {
    background-color: white;
}

.box-diaLog {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;

    height: 200px;
}

.box-diaLog div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.box-diaLog div input {
    width: 100%;
}

.box-diaLog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: chocolate;
    width: 100%;
}

.box-diaLog-button button {
    font-size: 1em;
    width: 200px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    transition: ease-in-out 0.9s;
}
.box-diaLog-button button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;
}
::ng-deep .mat-mdc-paginator-container {
    background-color: #1A1D24;
  
}

