<main>
    <form action="">
        <header>
            <div>
                <img src="assets/imgs/Group 46.png" alt="">
            </div>
            <div>
              
                <p>sistema de transferência de material</p>
            </div>
        </header>
        <div >
            <label for="">USUÁRIO</label>
            <input [(ngModel)]="user" type="text" name="user" id="" placeholder="usuario">
        </div>
        <div>
            <label for="">SENHA</label>
            <input [(ngModel)]="senha" type="text" placeholder="senha">
        </div>
        <button >ENTER</button>
    </form>
</main>