<main>
   
    <form action="">
        <header>
            <div>
                <img src="assets/imgs/Group 46.png" alt="">
            </div>
            <div>
              
                <p>sistema de transferência de material</p>
            </div>
        </header>
        <div >
            <label for="">USUÁRIO</label>
            <input [(ngModel)]="user" type="text" name="user" id="" placeholder="usuario">
            <span *ngIf="erro">senha ou usuario incorreto</span>
        </div>
        <div>
            <label for="">SENHA</label>
            <input [(ngModel)]="senha" name="senha" type="password" placeholder="senha">
            <span *ngIf="erro">senha ou usuario incorreto</span>
        </div>
        <button (click)="enter()" >ENTER</button>
    </form>
</main>