main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383b47;
    height: 100%;
    position: absolute;
    margin-top: -83px;
}

form button {
    font-size: 1em;
    padding: 15px;
    width: 50%;
    font-weight: bold;
    background-color: #21242c;
    border: none;
    margin-top: 2em;
    color: white;
    border-radius: 50px;


    transition: ease-in-out 0.6s;
}

header {
    background-color: #21242c;
    width: 100%;
    height: 150px;
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    background-color: rgb(235, 235, 235);
    min-width: 500px;
    min-height: 600px;
    box-shadow: 0px 0px 20px gray;
    display: flex;
    align-items: center;
    border-radius: 15px;

    flex-direction: column;
}

.container-divs {
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3em;
}

.container-divs div {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    width: 90%;
    font-weight: bold;
}

form button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

span {
    color: red;

}
form button{
    margin-top: 8em;
    margin-bottom: 2em;
}

@media(width<800px) {
    form {
        min-width: 300px;
        min-height: 450px;
    }

    form button {
        width: 200px;
    }
}