<main>

    <form action="">
        <header>
            <div class="div-header-img">
                <img src="assets/imgs/Group 69 (4).png" alt="">
        
            </div>
        </header>
        <section class="container-divs">
            <div>
                <label for="">USUÁRIO</label>
                <input [(ngModel)]="user" type="text" name="user" id="" placeholder="usuario">
                <span *ngIf="erro">Senha ou Usuário incorretos</span>
            </div>
            <div>
                <label for="">SENHA</label>
                <input [(ngModel)]="senha" name="senha" type="password" placeholder="senha">
                <span *ngIf="erro">Senha ou Usuário incorretos</span>
            </div>
        </section>
        <button (click)="enter()">ENTRAR</button>
    </form>
</main>