header {
    color: rgb(255, 255, 255);
    margin-left: 10%;
}

.bt-alterar-viagem {
    width: 50px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
}

.bt-alterar-viagem:hover {
    cursor: pointer;
    background-color: black;
}

.bt-alterar-viagem i {
    font-size: 1.8em;
    color: rgb(26, 147, 196);
}

header h1 {
    font-weight: 900;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 4em;
}

.creat {
    width: 80%;
    margin: 1rem auto 0 auto;
    flex-direction: column;
    border-radius: 5px;
    display: flex;
}

.contaiber-cards {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 2em;
    justify-content: space-between;
    box-shadow: 5px 5px 15px black;
}

.contaiber-cards .card-viagem {
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-around;
    flex-direction: column;
}

.contaiber-cards .card-viagem h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #1A1D24;
    border-bottom: 2px solid chocolate;
    width: 100%;
}

.contaiber-cards .card-viagem button {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
}

.contaiber-cards-material-user {
    width: 100%;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    justify-content: space-between;
}

.contaiber-cards img {
    width: 400px;
    margin-left: 20px;
}

.creat .card {
    background-color: #ffffff;
    width: 48%;
    box-shadow: 5px 5px 15px black;
    padding: 10px;
    transition: ease-in-out 0.5s;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.creat .card i {
    background-color: #3f4453;
    padding: 10px;
    width: 35px;
    color: chocolate;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 35px;
    border-radius: 50px;
}

.creat .card .bt button {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #dfdfdf;
    width: 300px;
    border-radius: 50px;
    color: black;
}

.creat .card .bt i {
    background-color: transparent;
    color: black;
    padding: 0%;
}

.creat .card .bt button:hover,
button:hover {
    color: chocolate;
}

.creat .card button {
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: black;
}

@media (max-width: 1000px) {
    .creat {
        flex-direction: column;
    }

    .contaiber-cards-material-user,
    .contaiber-cards {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .creat .card {
        width: 95%;
        margin-bottom: 2em;
    }

    .creat .card .bt button {
        width: 100%;
        font-size: .9em;
        margin-bottom: 10px;
    }

    .contaiber-cards img {
        width: 100px;
        margin: 0;
        height: 100px;
    }

    .contaiber-cards .card-viagem {
        justify-content: center;
        align-items: center;
    }
}
