mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
    background-color: transparent;
    box-shadow: none;



}


table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;
}

::ng-deep .mat-mdc-paginator-container {
    background-color: #1A1D24;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

mat-paginator {
    background-color: transparent;
}

.box-header {
    margin-bottom: 5em;
}

.box-header mat-card-title {
    color: chocolate;

    font-size: 2em;
}

header {
    color: black;
    font-weight: bold;
    margin-left: 10%;
}

.bt-alterar-viagem {
    width: 50px;
    border: none;
    border-radius: 50px;
    background-color: rgb(0, 195, 255);
}

.bt-alterar-viagem:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.bt-alterar-viagem i{
    font-size: 1.5em;
    color: white;
}
header h1 {
    font-size: 4em;

    font-family: 'Poppins', sans-serif;
}

.creat {
    width: 80%;
    height: 200px;
    margin: 1rem auto 0 auto;
    background-color: chocolate;
    border-radius: 5px;
}

.creat button {
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    background-color: #2E3035;
    border: none;
    color: white;
    box-shadow: 2px 2px 5px black;
    transition: ease-in-out 0.5s;

}

.creat button:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px white;

    cursor: pointer;
}