<header>
  <h1>STM</h1>
  <p>sistema de transferencia de material</p>
</header>
<div class="creat">
  <button routerLink="/itinerarios/create">Criar nova Viagem</button>

</div>
<mat-card class="box">

  <!--
  <mat-card-header class="box-header">
    <mat-card-title>VIAGENS AGENDADAS</mat-card-title>
    <mat-card-subtitle>Sistema de gerenciamento de viagem de transferencia de material entre
      váriassedes</mat-card-subtitle>
  </mat-card-header>
-->


  <div>

    <table class="table" mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="motorista">
        <th mat-header-cell *matHeaderCellDef> Motorista </th>
        <td mat-cell *matCellDef="let element"> {{element.motorista}} </td>
      </ng-container>


      <ng-container matColumnDef="datetimeSaida">
        <th mat-header-cell *matHeaderCellDef> Data e Hora Saída </th>
        <td mat-cell *matCellDef="let element"> {{element.datetimeSaida}} </td>
      </ng-container>


      <ng-container matColumnDef="datetimeVolta">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.datetimeVolta}} </td>
      </ng-container>


      <ng-container matColumnDef="encerrado">
        <th mat-header-cell *matHeaderCellDef> Destino Final </th>
        <td mat-cell *matCellDef="let element"> {{element.encerrado}} </td>
      </ng-container>
      <ng-container matColumnDef="ações">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button class="bt-alterar-viagem">  <i id="edit" class="material-icons" matTooltip="Editar">edit</i></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

</mat-card>