@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
    background-color: transparent;
    box-shadow: none;



}


table {
    background-color: white;
    color: black;

}

table td {
    color: black;

}

table th {
    color: white;
    background-color: #1A1D24;
}

.mat-mdc-paginator-container {
    background-color: #1A1D24;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

mat-paginator {
    background-color: #1A1D24;
    width: 100%;
}

.box-header {
    margin-bottom: 5em;
}

.box-header mat-card-title {
    color: chocolate;

    font-size: 2em;
}

header {
    color: rgb(207, 207, 207);
    font-weight: bold;
    margin-left: 10%;
}

.bt-alterar-viagem {
    width: 50px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
}

.bt-alterar-viagem:hover {
    cursor: pointer;
    background-color: black;

}

.bt-alterar-viagem i {
    font-size: 1.8em;
    color: rgb(26, 147, 196);
}

header h1 {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

.creat {
    width: 80%;

    margin: 1rem auto 0 auto;
    flex-direction: column;
    border-radius: 5px;
    display: flex;

}

.contaiber-cards {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    height: 250px;
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 2em;
    justify-content: space-between;
    padding: 10px;
}

.contaiber-cards .card-viagem {

    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-around;
    flex-direction: column;

}

.contaiber-cards .card-viagem h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #1A1D24;
    border-bottom: 2px solid chocolate;
    width: 100%;

}

.contaiber-cards .card-viagem button {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
}

.contaiber-cards-material-user {
    padding: 10px;
    width: 100%;
    border-radius: 10px;

    height: 250px;
    display: flex;
    flex-direction: row;

    margin-bottom: 2em;
    justify-content: space-between;
}

.contaiber-cards img {
    width: 400px;
    margin-left: 20px;
}

.creat .card {
    background-color: #1A1D24;
    width: 48%;

    padding: 10px;
    transition: ease-in-out 0.5s;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.creat .card i {
    background-color: #2E3035;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 35px;
    border-radius: 50px;

}

.creat .card:hover {

    box-shadow: 0px 0px 10px white;


}

.creat .card .bt button {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2E3035;
    width: 300px;
    border-radius: 50px;
    color: white;
}

.creat .card .bt i {
    background-color: transparent;
    color: white;
}

.creat .card .bt button:hover {
    color: rgb(110, 110, 136);
}

.creat .card button {



    font-size: 1.2em;
    padding: 10px;

    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: black;

    transition: ease-in-out 0.5s;

}

.table-limit {
    max-width: 100%;
    /* Defina a altura máxima desejada */
    overflow-x: auto;
    /* Adicione rolagem vertical quando necessário */
}

.acoes {
    width: 10%;
}

@media (width<800px) {
    .creat {
        flex-direction: column;

    }

    .contaiber-cards-material-user,
    .contaiber-cards {
        flex-direction: column;
        height: 50%;
        padding: 0%;
    }

    .creat .card {

        width: 90%;
        margin-bottom: 2em;
    }

    .creat .card .bt button {
        width: 100%;
        font-size: .9em;
        margin-bottom: 10px;
    }

    .contaiber-cards img {
        width: 100px;
        margin: 0px;
        height: 100px;
    }

    .contaiber-cards .card-viagem {
        justify-content: center;
        align-items: center;
    }


}