/*ESTILO GERAL DA TELA DE CADASTRO DE VIAGEM*/
main {
    width: 100%;
    height: 90vh;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: rgb(247, 247, 247);
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    border-top: 2em solid #1A1D24;
    margin-bottom: 2em;

}

form input::placeholder {

    color: rgb(141, 141, 141);

}

form .container-divs {
    display: flex;
    width: 100%;

}


/*ESTILO DE TODOS OS COMPONENTES DA TABELA DE LISTAGEM DE MATERIAIS DE UM DESTINO*/

table {

    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;

    color: black;
    border-radius: 5px;
}

.table-limit {
    max-height: 200px;
    /* Defina a altura máxima desejada */
    overflow-y: auto;
    /* Adicione rolagem vertical quando necessário */
}

.table-bt-remover {
    width: 5%;

}

table th {
    background-color: chocolate;

}

table td {
    background-color: rgba(255, 255, 255, 0.945);
}

.container-destinos section div label {
    color: white;
}

.container-destinos h3 {
    color: chocolate;
    font-weight: bold;
    margin: 1em;
}

.container-destinos section div select {
    color: white;
    background-color: rgba(255, 255, 255, 0.096);
}

.container-destinos section div option {
    color: black;
}

.container-destinos section div input {
    color: white;
    background-color: rgba(255, 255, 255, 0.096);
}

.container-divs div {
    width: 100%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-divs .btn-adicionar-material-div {
    width: 120px;

}

.container-destinos {
    width: 100%;
    padding: 5px;
    margin-top: 2em;
    background-color: #1A1D24;
}



.container-divs label {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.btn-adicionar-material-div button {
    padding: 5px;

    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: white;
    border: none;
}

.bt-removerMaterial-lista {
    background-color: transparent;
    border: none;
    color: red;
}

header {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;


}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

header button {
    height: 25px;
    margin-top: 5px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: chocolate;
    border: none;
}

header button:hover {
    background-color: white;

    color: black;
}

header button i {
    color: white;

}


.btn-adicionar-parada-div button {
    width: 20%;
    padding: 10px;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
    background-color: chocolate;
    border: none;
}

.btn-adicionar-parada-div button:hover {
    background-color: black;
    cursor: pointer;
    color: white;

}

.div-buttons {
    width: 100%;

    display: flex;
    margin-top: 7em;
}

.div-buttons button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 10px;

    border-radius: 50px;
    width: 20%;
    transition: ease-in-out 0.6s;
    border: none;
    font-weight: bold;
    background-color: chocolate;
    color: black;
}

.div-buttons .btn-cadastrar:hover {

    background-color: black;

    cursor: pointer;

    color: rgb(255, 255, 255);

}

.add-material-div {
    display: flex;

    flex-direction: row;
}

.add-material-div button {
    width: 180px;
    margin-left: 10px;
    border-radius: 50pc;
    height: 20px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top: -2px;
}

.error {
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;

    margin-bottom: -24px;
}

.error i {
    margin-right: 10px;
    margin: 0%;
}

.container-listagem-destinos {
    background-color: rgb(211, 211, 211);

    margin-top: 2em;
    padding: 5px;

    width: 95%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    height: 200px;
}

.header-listagem-destinos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.header-listagem-destinos button {
    height: 30px;
    border: none;
    background-color: white;
    color: red;
    font-weight: bold;
    border-radius: 5px;

}

.box-bt-confirmarViagem {
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-bt-confirmarViagem button{
    border: none;
    background-color: #1A1D24;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 50px;
}
.box-bt-confirmarViagem h5{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

@media (width<1200px) {
    form section {
        flex-direction: column;

    }

    form section div {
        margin: 0%;
    }

    .div-buttons {
        flex-direction: column;
    }

    .div-buttons button {
        width: 50%;
    }

    .btn-adicionar-parada-div button {
        width: 100%;
    }
}

option {
    background-color: rgb(255, 255, 255);

}