<header>
    <button class="retornar" (click)="navigationToSedes()"><i class="material-icons">arrow_back</i></button>
    <h1>ATUALIZAR DE SEDE</h1>
</header>
<form (ngSubmit)="submit()" [formGroup]="sedeForm" #formDir="ngForm">
    <section class="container-inputs">
        <div class="box-input-nome">
            <label for="">Nome</label>
            <input maxlength="60" [(ngModel)]="sede.nome" type="text" name="nome" id=""
                placeholder="Insira um nome de identificação" formControlName="nome">
            <span *ngIf="nome.invalid && formDir.submitted" class="error"><i class="material-icons">priority_high</i> O
                campo nome não pode ser vazio</span>
        </div>
    </section>
    <section class="container-inputs">
        <div class="box-input-cep">
            <label for="">CEP</label>
            <input [(ngModel)]="sede.cep" type="text" name="cep" id="cep" placeholder="00000-000" formControlName="cep"
                maxlength="9">
            <span *ngIf="cep.invalid &&  formDir.submitted" class="error"><i class="material-icons">priority_high</i> O
                cep é obrigatorio</span>
        </div>
        <div class="box-input">
            <label for="">Rua</label>
            <input maxlength="100" [(ngModel)]="sede.rua" type="text" name="rua" id="" placeholder="rua"
                formControlName="rua">
            <!---  <span *ngIf="rua.invalid && formDir.submitted" class="error" ><i class="material-icons" >priority_high</i> O nome da rua é obrigatorio</span><!-->
            <span *ngIf="rua.errors?.['required'] && formDir.submitted" class="error"><i
                    class="material-icons">priority_high</i> O nome da rua é obrigatorio</span>
            <span *ngIf="rua.errors?.['pattern'] && formDir.submitted" class="error"><i
                    class="material-icons">priority_high</i> não pode conter apenas espaços em branco</span>
        </div>
        <div class="box-input-numero">
            <label for="">Número</label>
            <input [(ngModel)]="sede.numero" type="number" name="numero" id="" placeholder="numero"
                formControlName="numero">
            <span *ngIf="numero.invalid && formDir.submitted" class="error"><i class="material-icons">priority_high</i>
                O número é obrigatorio</span>
        </div>
       

    </section>
    <section class="container-inputs">
        <div class="box-input">
            <label for="">Cidade</label>
            <input maxlength="80" [(ngModel)]="sede.cidade" type="text" name="cidade" id="" placeholder="cidade"
                formControlName="cidade">
            <span *ngIf="cidade.invalid && formDir.submitted" class="error"><i class="material-icons">priority_high</i>
                A cidade é obrigatorio</span>
        </div>
        <div class="box-input-uf">
            <label for="">UF</label>
            <select [(ngModel)]="sede.uf" name="uf" id="" formControlName="uf">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
            <span *ngIf="uf.invalid && formDir.submitted" class="error"><i class="material-icons">priority_high</i>
                Selecione um Estado</span>
        </div>
    </section>
    <section class="container-inputs">

        <div class="box-input">
            <label for="">Observações</label>
            <textarea [(ngModel)]="sede.observacao" name="observacao" id="" cols="30" rows="5"
                placeholder="Insira uma observação caso desejar" formControlName="observacao"
                maxlength="100"></textarea>
        </div>
    </section>
    <div class="buttons">
        <button class="bt-cadastrar" (click)="update()">ATUALIZAR</button>
     

    </div>
</form>