<section style="background-color: white;">
    

  <h3>SISTEMA DE TRANSFERÊNCIA DE MATERIAL ENTRE SEDES</h3>
  <p>O sistema visa auxiliar o agendamento de viagens de materias entre sedes de uma mesma empresa</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore placeat saepe aperiam quos fuga accusantium! Sint quaerat, facere rem voluptatem consequuntur magnam voluptas nisi? Itaque nostrum amet inventore obcaecati sint.</p>
  <h3>INCLUIR VEICULO</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eum officiis assumenda quam laudantium id fugit nisi voluptatem possimus, recusandae nihil laboriosam a facere aut provident deserunt numquam, dolores reiciendis.</p>
  <h3>INCLUIR MOTORISTA</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, delectus. Consequuntur assumenda laudantium voluptate iusto. Esse qui asperiores inventore ullam, dolorem, molestias ab nostrum omnis voluptatum voluptates iure quaerat unde?</p>
  <h3>INCLUIR SEDE</h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, aspernatur libero, enim, aliquid qui corporis tempore excepturi molestias reprehenderit iusto vero ad ratione sunt provident asperiores. Dicta voluptate dolorem maiores.</p>
 
  <img src="assets/imgs/Group 21.png" alt="">
</section>