button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1em;
    color: chocolate;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

button:hover {
    color: white;
    cursor: pointer;
}
i{
margin-left: 5px;
}