<header class="bt-create">
    <h1>VIAGENS</h1>
    <button (click)="navigationToCreate()">Criar Viagem</button>
</header>

<div class="test">


    <ul>
        <li *ngFor="let viagens of itinerarios">
            <!--colocar local de saida no lugar do id-->
            <!--Arrumar posição das informações dispostas-->
            <!--realizar update-->
            <h3> ViagemID: {{viagens.id}} Origem: {{viagens.nomeSede}}</h3>
            <button class="btn-pdf" (click)="pdf(viagens.id)" matTooltip="Download"> <i id="edit"
                    class="material-icons">download</i> PDF</button>
            <section class="container">

                <table>
                    <tr>
                        <th>Total de destinos</th>
                        <th>Andamento</th>
                        <th>Status</th>
                        <th>Data Saida</th>
                        <th>Data Volta</th>
                        <th>Motorista</th>
                        <th>Veículo</th>
                    </tr>
                    <tr>
                        <td>
           
                            <p> {{viagens.destinos.length}}</p>
                        </td>
                        <td>

                            <p> {{viagens.encerrado}}</p>
                        </td>
                        <td>
               
                            <div class="span">
                                <p> {{viagens.status.confirmacao}} </p>
                                <h5 class="status"> </h5>
                            </div>
                        </td>
                        <td>
               
                            <p> {{viagens.datetimeSaida}}</p>
                        </td>
                        <td>
                   
                            <p> {{viagens.datetimeVolta}}</p>
                        </td>
                        <td>
                
                            <p> {{viagens.motorista}}</p>
                        </td>
                        <td>
                      
                            <p> {{viagens.veiculo}}</p>
                        </td>
                    </tr>

                </table>

            </section>
            <div class="btn">
                <button (click)="confirmacao()">EDITAR</button>
                <button (click)="getId(viagens)">EXCLUIR</button>

            </div>
        </li>

    </ul>

</div>