form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
    padding: 100px 0px 100px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px black;
    flex-direction: column;


}

.box-input {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.box-input label {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}


form button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 5px;
    box-shadow: 2px 2px 5px rgb(71, 71, 71);

    border-radius: 5px;
    width: 30%;
    transition: ease-in-out 0.6s;
    border: none;
    margin-left: 5%;
    margin-top: 2em;
    background-color: chocolate;
    color: black;
}

form input::placeholder {

    color: rgb(141, 141, 141);
}

.btn-cadastrar:hover {

    background-color: black;

    cursor: pointer;
    box-shadow: 0px 0px 20px white;
    color: rgb(255, 255, 255);

}


header button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: chocolate;
    margin-bottom: 1em;
    height: 25px;
    margin-top: 5px;
    width: 200px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
}

header button:hover {


    color: white;
}



option {
    background-color: rgb(255, 255, 255);

}


header {
    color: white;
    text-align: start;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

form h1 {
    text-align: center;
    color: black;
    font-size: 2.2em;

}

@media (max-width:1000px) {
    form button {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }

}

.error {
    color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    font-weight: bold;

}

.error i {
    margin-right: 10px;
}