<main>
    <header>
        <button class="retornar" (click)="navigationToItinerarios()"><i class="material-icons">arrow_back</i>Lista de
            viagens</button>

    </header>
    <form action="" (ngSubmit)="sibmit()" [formGroup]="viagemForm" #formDir="ngForm">


        <h1>Cadastro de viagem</h1>
        <section class="container-divs">
            <div>
                <label for="">Origem</label>
                <select [(ngModel)]="viagem.sede" name="sede" id="" formControlName="sede">
                    <option></option>
                    <option *ngFor="let sede of sedes" value="{{sede.id}}">{{sede.nome}}</option>
                </select>
                <span *ngIf="this.viagem.sede==0" class="error"><i class="material-icons">priority_high</i> Selecione
                    uma
                    origem</span>
            </div>

            <div>
                <label for="">Data de Saida</label>
                <input name="datetimeSaida" formControlName="datetimeSaida" [(ngModel)]="dtSaida" type="datetime-local">
                <span *ngIf="this.dtSaida==null" class="error"><i
                        class="material-icons">priority_high</i> Selecione uma data de saída</span>
            </div>
            <div>
                <label for="">Data de Volta</label>
                <input name="datetimeVolta" formControlName="datetimeVolta" [(ngModel)]="dtVolta" type="datetime-local">
                
            </div>
        </section>
        <section class="container-divs">
            <div>
                <label for="">Veículo</label>
                <select [(ngModel)]="viagem.veiculoId" name="veiculoId" id="" formControlName="veiculoId">
                    <option *ngFor="let veiculo of veiculos" value="{{veiculo.id}}">{{veiculo.modelo}}</option>
                </select>
                <span *ngIf="this.viagem.veiculoId==0" class="error"><i
                    class="material-icons">priority_high</i> Selecione um veículo</span>

            </div>
            <div>
                <label for="">Motorista</label>
                <select [(ngModel)]="viagem.motoristaId" name="motoristaId" id="" formControlName="motoristaId">
                    <option *ngFor="let motorista of motoristas" value="{{motorista.id}}">{{motorista.nome}}</option>
                </select>
                <span *ngIf="this.viagem.motoristaId==0" class="error"><i
                    class="material-icons">priority_high</i> Selecione um motorista</span>
            </div>

        </section>




        <section class="container-destinos">
            <h3>CRIAR DESTINO</h3>
            <section class="container-divs">
                <div>
                    <section class="add-material-div">
                        <label for="">Material</label>
                        <button (click)="criarMaterial()" matTooltip="adicionar um novo material na lista">adicionar
                            material</button>
                    </section>
                    <select name="materialID" id="" [(ngModel)]="interfaceMateriais.materialId"
                        formControlName="materialID">
                        <option *ngFor="let mat of materiais" value="{{mat.id}}">{{mat.nome}}</option>
                    </select>
                </div>
                <div>
                    <label for="">QTD</label>
                    <input type="number" name="quantidade" [(ngModel)]="interfaceMateriais.quantidade"
                        formControlName="quantidade">
                    
                </div>
                <div>
                    <label for="">Setor Destinatario</label>
                    <select name="setorDestino" id="" [(ngModel)]="interfaceMateriais.setorDestino"
                        formControlName="setorDestino">
                        <option *ngFor="let setor of setores" value="{{setor.id}}">{{setor.nome}}</option>
                    </select>
                </div>
                <div class="btn-adicionar-material-div">
                    <button matTooltip="adicionar material no destino" (click)="addMaterial()">+</button>
                </div>
            </section>
            <span class="erroMaterial" *ngIf="materialErro">Selecione um material, sua quantidade e setor de destino</span>
            <div class="table-limit">

                <table class="table table-limit">
                    <tr>
                        <th>Material</th>
                        <th>QTD</th>
                        <th>Destino</th>
                        <th class="table-bt-remover"></th>
                    </tr>
                    <tr class="listagem-materiais" *ngFor="let s of materiaisDestino;  let i = index">
                        <td>{{s.nomeMaterial}}</td>
                        <td>{{s.quantidade}}</td>
                        <td>{{s.nomeSetor}}</td>
                        <td><button class="bt-removerMaterial-lista" (click)="removerMaterialLista(i)"><i id="edit" class="material-icons"
                                    matTooltip="Remover material da lista">delete</i></button></td>

                    </tr>
                    <!-- Conteúdo da tabela -->
                </table>
            </div>
            <section class="container-divs">
                <div>
                    <label for="">Destinatario</label>
                    <select name="destinatario" id="" [(ngModel)]="destino.sedeId" formControlName="destinatario">
                        <option *ngFor="let sede of sedes" value="{{sede.id}}">{{sede.nome}}</option>
                    </select>
                </div>
            </section>

            <span class="erroMaterial" *ngIf="destinoErro">Selecione um destino</span>
            <section class="container-divs">
                <div class="btn-adicionar-parada-div">
                    <button (click)="addDestino()">ADICIONAR DESTINO</button>
                </div>
            </section>
        </section>
        <section class="container-destinos-view" *ngFor="let d of destinosViagemView">
            <div class="box-destinos-view">
                <h4>Destino: {{d.nomeSede}}</h4>
                <h4>Total de materiais: {{d.materiaisQntdSetor.length}}</h4>
                <button (click)="excluirDestino(d.id)">remover</button>
            </div>
        </section>
        <div class="div-buttons">

            <button class="btn-cadastrar" (click)="create()">CRIAR VIAGEM</button>
            <!---
            <button class="btn-cancelar" (click)="navigationToItinerarios()">CANCELAR</button>
            -->

        </div>
    </form>

</main>