main {
    width: 100%;
    height: 88vh;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}

form .container-divs {
    display: flex;
    width: 100%;

}

.container-divs div {
    width: 100%;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-divs .btn-adicionar-material-div {
    width: 10%;

}
.container-divs label{
    color: black;
    font-weight:bold ;
    margin-left: 10px;
}

.btn-adicionar-material-div button {
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 50px;
    background-color: chocolate;
    border: none;
}

header {
    display: flex;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid chocolate;

}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
}
header button {
    height: 25px;
    margin-top: 5px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: rgb(50, 56, 61);
    border: none;
}
header button:hover{
    background-color: white;
    
    color: black;
}

header button i {
    color: white;
    
}


.btn-adicionar-parada-div button {
    width: 20%;

    padding: 15px;
    color: white;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #1A1D24;
    border: none;
}

.div-buttons {
    width: 100%;
    justify-content: start;
    
    display: flex;
    margin-top: 7em;
}

.div-buttons button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    
    border-radius: 50px;
    width: 30%;
    transition: ease-in-out 0.6s;
    border: none;
    font-weight: bold;
    background-color: chocolate;
    color: black;
}

.div-buttons .btn-cadastrar:hover {

    background-color: black;

    cursor: pointer;
    box-shadow: 0px 0px 20px white;
    color: rgb(255, 255, 255);

}
.add-material-div{
    display: flex;

    flex-direction: row;
}
.add-material-div button{
    width: 180px;
    margin-left: 10px;
    border-radius: 50pc;
    height: 20px;
    border: none;
    background-color: #1A1D24;
    color: white;
    margin-top:-2px;
}

h3{
  
    
    color: black;
    
    font-size: 1.2em;
    font-weight: bold;
    width: 95%;
    margin-top: 2em;
    border-bottom: 5px solid chocolate;
}

@media (width<1000px) {
    form section{
       flex-direction: column;
    }
    .div-buttons {
        flex-direction: column;
    }
    .div-buttons button{
        width: 50%;
    }
    .btn-adicionar-parada-div button {
        width: 100%;
    }
}
option{
    background-color: black;
}