.header{
    background-color:transparent;
    height: 8%;
    position: absolute ;
    top: 0px;
    
    


}
img{
    width: 200px;
    height: 80px;
    margin-top: auto;
    
}
.header button{
font-size: 1em;
background-color: transparent;
border: none;

}
.header button:hover{
    color: #F28705;
    cursor: pointer;
    
}