/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

::ng-deep .barr {
    background-color: rgb(65, 252, 134);
    color: white;
}

.teste {
    background-color: red;
    color: white;
}

.erro {
    color: red;
    font-size: .9em;
}

input,
select,
textarea {
    border: 1px solid transparent;
   
    /* background-color: rgba(0, 0, 0, 0.411);*/
    background-color: rgba(0, 0, 0, 0.158);
    color: black;
    font-size: 1.5em;
  
    border-radius: 5px;
    padding: 8px;
   /* box-shadow: 2px 2px 5px rgb(22, 22, 22);*/

}

::ng-deep .mat-mdc-paginator-container {
    background-color: rgb(37, 37, 37);


}

.delet i {
    background-color: transparent;
    padding: 2px;
    border-radius: 50%;
    color: chocolate;
    margin-left: 20px;
    font-size: 2em;

}

.up i {
    background-color: transparent;
    padding: 2px;
    border-radius: 50%;
    color: rgb(0, 157, 219);
    font-size: 2em;
}

.up i:hover, .delet i:hover,.subscrib i:hover{
    cursor: pointer;
    transition: ease-in-out 0.4s;
    background-color: white;
}
table {
    background-color: rgba(0, 0, 0, 0.103);
}
