<header>

    <h1>INSERÇÃO DE VEICULO</h1>
</header>

<form action="">
    <div class="box-input">
        <label for="">Modelo</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Marca</label>
        <input type="email" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Placa</label>
        <input type="text" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Ano</label>
        <input type="number" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Renavam</label>
        <input type="number" name="" id="">
    </div>
    <div  class="box-input">
        <label for="">Tamanho</label>
        <select name="" id="">
            <option value="">Grande</option>
            <option value="">Médio</option>
            <option value="">Pequeno</option>
        </select>
    </div>

<button>CADASTRAR</button>
</form>