<header>
    <h1>INSERÇÃO DE VEICULO</h1>
</header>


<form  action="">

    <div class="box-input">
        <label for="">Marca</label>
        <select name="marca" id="marca" [(ngModel)]="veiculo.marca" >
            <option  *ngFor="let s of carBrands" value="{{s}}" >{{s}}</option>
        </select>
        <span></span>
    </div>
    <div class="box-input">
        <label for="">Modelo</label>
        <input [(ngModel)]="veiculo.modelo" required type="text" name="modelo" id="" placeholder="inseira o modelo do veículo">
        <span ></span>
    </div>
    <div class="box-input">
        <label for="">Placa</label>
        <input [(ngModel)]="veiculo.placa" type="text" name="placa" id="" placeholder="inseira a placa do veículo"
            onkeyup="this.value = this.value.toUpperCase()" maxlength="7">
    </div>
    <div class="box-input">
        <label for="">Ano</label>
        <input [(ngModel)]="veiculo.ano" type="number" name="ano" id="" placeholder="ano do veiculo">
    </div>
    <div class="box-input">
        <label for="">Renavam</label>
        <input [(ngModel)]="veiculo.renavan" type="text" name="renavan" id="" placeholder="Renavam do veículo" maxlength="11">
        <span  *ngIf="veiculo.renavan && !validarRenavam(veiculo.renavan)">O renavem deve conter 11 números</span>
    </div>
    <div class="box-input">
        <label for="">Tamanho</label>
        <input [(ngModel)]="veiculo.tamanho" type="text" name="tamanho" id=""
            placeholder="Descreva o tamanho do veículo">

    </div>

    <button (click)="create()" class="btn-cadastrar">CADASTRAR</button>
    <button (click)="cancelar() " class="btn-cancelar">CANCELAR</button>
</form>