<mat-drawer-container class="container" autosize>
    <header>
        <button class="btn" mat-icon-button (click)="drawer.toggle()">
            <mat-icon class="btn_icon">more_vert</mat-icon>
        </button>
        <div>
            <h1>ADMIN</h1>
            <i class="material-icons">account_circle</i>
        </div>
    </header>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/imgs/Group 46.png" alt="">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/"><i class="material-icons">home</i>Home</a>
        </mat-nav-list>


        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/itinerarios"><i class="material-icons">share_location</i>Itinerário</a>
        </mat-nav-list>

        <mat-nav-list class="nav-list" *ngIf="show">
            <a mat-list-item routerLink="/veiculos"><i class="material-icons">directions_car</i>Veiculos</a>
        </mat-nav-list>


        <mat-nav-list class="nav-list" *ngIf="show">
            <a mat-list-item routerLink="/sedes"><i class="material-icons">home_work</i>Sedes</a>
        </mat-nav-list>

        <mat-nav-list class="nav-list" *ngIf="show">
            <a mat-list-item routerLink="/motoristas"><i class="material-icons">assignment_ind</i>Motoristas</a>
        </mat-nav-list>



    </mat-drawer>
    <div class="sidenav-content">

        <router-outlet>

        </router-outlet>
    </div>

</mat-drawer-container>