.container {
    height: 100%;
    background-color: rgba(49, 54, 63, 1);
    width: 100%;



}

.div-container {
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #1A1D24;

}

router-outlet {
    width: 100%;
}


header {
    background-color: #1A1D24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 2em;

}

header div {
    display: flex;
    align-items: center;


}


header div i {
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 3.5em;
    color: #3f4453;
}

i {
    margin-right: 1rem;
}

.btn {
    background-color: transparent;
    border: none;
}

.btn_icon {
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}

.bt {
    background-color: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
    color: white;
}

.btn_icon:hover {
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 50%;

    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

mat-drawer {
    background-color: #1A1D24;


    width: 15%;
    min-width: 160px;


}

.sidenav .links {
    border-bottom: 2px solid #d2691e;
    margin: 0.5em;

}



.info {

    flex-direction: column;
    margin-top: 2em;

    display: flex;
    align-items: flex-start;
}

.info a {
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 6px;
}

.info a:hover {
    color: white;
}

header .user {
    text-decoration: none;
    margin-right: 10px;
    flex-direction: column;
}

header .user h1 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0%;
}

header .user a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}