<header>
    <h1>ATUALIZAÇÃO DE MOTORISTA</h1>
</header>
<form action="">
    <div class="box-input">
        <label for="">Nome</label>
        <input [(ngModel)]="motorista.nome" type="text" name="nome" id="" placeholder="insira o nome do motorista">
    </div>
    <div class="box-input">
        <label for="">Categoria da Carteira</label>
        <select [(ngModel)]="motorista.categoriaCarteira" name="categoriaCarteira" id="categoriaCarteira" >
            <option *ngFor="let carteira of categoriasCarteira" value="{{carteira}}">{{carteira}}</option>
        </select>

    </div>
    <div class="box-input">
        <label for="">Email</label>
        <input [(ngModel)]="motorista.email" type="email" name="email" id="" placeholder="inseira o email do motorista">
    </div>
    <div class="buttons">
        <button class="btn-cadastrar" (click)="update()">ATUALIZAR</button>
        <button (click)="cancelar()" class="btn-cancelar">CANCELAR</button>
    </div>
</form>